<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">My Favorites</h1>
        </div>
      </div>
    </div>
  </div>


<div class="container">
  <div class="row portfolio-boxes">
  <% @favorites.each do |favorite| %>
    <div class="col-md-3 portfolio-box portfolio-item">
        <a href="/books/<%= favorite.book_id %>">
          <div class="image-link"><img src="<%= favorite.book.cover %>"></a>
          </div>
            <h3 class="title"><%= favorite.book.title %></h3>
            <h4 class="author"><%= favorite.book.author_first %> <%= favorite.book.author_last %></h4>

            <% if !favorite.finished %>
                <%= form_tag "/deadline?book_id=#{favorite.book.id}&user_id=#{current_user.id}", method: :patch do %>
                  <%= label_tag :deadline %>
                  <%= select_date Date.today, prefix: :deadline %>
                  <%= submit_tag %>
                <% end %>
              <% if favorite.deadline %>
                Deadline: <%= favorite.deadline %>
              <% end %>
            <% end %>
            <%= link_to "Finished Reading!", "/favorites?book_id=#{favorite.book.id}&user_id=#{current_user.id}", method: "patch" %>


            <% if favorite.finished %>
              <%= form_tag "/rating?book_id=#{favorite.book.id}&user_id=#{current_user.id}", method: :patch do %>
                <%= label_tag :rating %>
                <%= text_field_tag :rating %>
                <%= submit_tag %>
              <% end %>
            <% end %>


          <%= link_to "Remove from Favorites", "/favorites?book_id=#{favorite.book.id}&user_id=#{current_user.id}", method: "delete" %>

      </div>
    <% end %>
  </div>
</div>
