<div class="row books-index">
  <% @all_books.each do |book| %>
      <a href="/books/<%= book.id %>">
      <div class="col-md-4 well">
      <img src="<%= book.cover %>">
      <h3 class="title"><%= book.title %></h3>
      <h4 class="author"><%= book.author_first %> <%= book.author_last %></h4>
    </a>
  </div>
  <% end %>
</div>
