<div class="container">
  <h1 class="text-contrast"><%= @book.title %></h1>
    <div>
    <b><%= @book.author %></b><br>
      <img src="<%= @book.cover %>" alt=""><br>
      </div>
    <div>
      <p><%= @book.description %></p>
    <% @book.subjects.each do |subject| %>
      <p></p><%= link_to "#{subject.name}", "/subjects/#{subject.id}" %></p>
      </div>
    <% end %>

  <div><%= link_to "Add To Favorites", "/favorites?book_id=#{@book.id}", method: "post" %></div>
</div>
