<div class="container">
<h1 class="text-contrast"><%= @book.title %></h1>
<b><%= @book.author_first %> <%= @book.author_last %></b><br>
<img src="<%= @book.cover %>" alt=""><br>
<p><%= @book.isbn %></p>
<p><%= @book.description %></p>
<p>Published in <%= @book.pub %></p>
<p><%= @book.pages %> pages</p>
<% @book.subjects.each do |subject| %>
<%= link_to "#{subject.name}", "/subjects/#{subject.id}" %>
<% end %>


<div><%= link_to "Add To Favorites", "/favorites?book_id=#{@book.id}", method: "post" %>
</div>


</div>
