<div class="container">
  <h1 class="text-contrast"><%= @book.title %></h1>
    <div>
      <h2><%= @book.author %></h2>

<div class="row portfolio-boxes">
  <div class="col-sm-6 portfolio-box portfolio-item">
      <div class="image-link">
        <img height="600" src="<%= @book.cover %>" alt="" class="big">
      </div>
  </div>
  <div class="col-sm-5 portfolio-box portfolio-item">
      <div>
        <p><%= @book.description %></p>
        <div>
        <button><%= link_to "Add to Favorites", "/favorites?book_id=#{@book.id}&user_id=#{current_user.id}", method: "post"%></button>
      </div>
      <p>  </p>
        <% @book.subjects.each do |subject| %>
          <%= link_to "#{subject.name}", "/subjects/#{subject.id}" %>
          </div>
        <% end %>

      </div>
  </div>
</div>
