<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1 class="title">
          <%= @subject.name %>

          <small><!-- optional subtitle --></small>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <div class="row portfolio-boxes">
      <% @books.each do |book| %>
      <div class="col-md-4 portfolio-box portfolio-item">
        <a href="/books/<%= book.id %>">
         <div class="image-link">
            <img src="<%= book.cover %>" height="300">
              <div class="hover-container">
                <div class="inner">
                  <h3 class="title"><%= book.title %></h3>
                  <h4 class="author"><%= book.author %></h4>
                </a>
                  <button><%= link_to "Add to Favorites", "/favorites?book_id=#{book.id}&user_id=#{current_user.id}", method: "post"%></button>
                </div>
              </div>
          </div>
      </div>

      <% end %>
    </div>
</div>
</div>
