<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">Recomended Reading</h1>
          <h3 class="subtitle">Browse Your Favorite Genres</h3>
      </div>
    </div>
  </div>
</div>


<div id="main-content">
  <div class="container">

      <% @subject_hash.each do |name, array| %>
      <div class="row portfolio-boxes">
        <h2 class="subheading"><%= name %></h2>
          <h3>Average Rating: <%= array[0] %></h3>

            <% array[1].each do |book| %>
              <div class="col-md-3 portfolio-box portfolio-item">
                <a href="/books/<%= book.id %>">
                 <div class="image-link">
                    <img src="<%= book.cover %>" height="300">
                      <div class="hover-container">
                        <div class="inner">
                          <h3 class="title"><%= book.title %></h3>
                          <h4 class="author"><%= book.author %></h4>  </a>
                        <button><%= link_to "Add to Favorites", "/favorites?book_id=#{book.id}&user_id=#{current_user.id}", method: "post"%></button>
                       </div>
                      </div>
                 </div>
              </div>

            <% end %>
        </div>
      <% end %>
    </div>
  </div>
