<div>
  <%= label_tag :book_id, "Favorites" %>
  <%= select_tag :book_id, options_for_select(@favorites.collect {|f| [f.book.title, f.id]})%>
</div>
<div>
  <%= label_tag :finish_by, "Finish By" %>
  <%= datetime_local_field_tag :finish_by, @goal.finish_by.strftime("%Y-%m-%dT%H:%M") %>
</div>
<div>
  <%= submit_tag "Set Goal!" %>
</div>
