<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1 class="title">
          Set A New Reading Goal
          <small><!-- optional subtitle --></small>
        </div>

      </div>
    </div>
  </div>
</div>






<div id="main-content">
  <div class="container">

    <div class="dropdown">
      I want to finish
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        choose a book
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <% @faves.each do |favorite| %>
        <li><%= favorite.book.title %></li>
        <% end  %>
      </ul>
       before <input type="text" class='datepicker' > <button>Set!</button>

       <script type="text/javascript">
         $(document).ready(function(){
           $('.datepicker').datepicker();
         });
       </script>
    </div>
<br><br>

    <!-- <%= form_tag("/goals", method: "post") do %>
        <%= label_tag(:num_books, "I want to read ") %>
        <%= text_field_tag(:num_books, "how many?")%>
        <%= label_tag(:months, " books in ")%>
        <%= text_field_tag(:months, "months") %>
      <%= submit_tag("Set Goal") %>
    <% end %> -->
</div>
</div>
