<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="title">
          Set A New Reading Goal
          <small><!-- optional subtitle --></small>
      </div>
    </div>
  </div>
</div>

<div id="main-content">
  <div class="container">
    <%= form_tag "/goals", method: :post do  %>
    <div>
      <%= label_tag :book_id, "Favorites" %>
      <%= select_tag :book_id, options_for_select(@favorites.collect {|f| [f.book.title, f.id]})%>
    </div>
    <div>
      <%= label_tag :finish_by, "Finish By" %>
      <%= datetime_local_field_tag :finish_by, @goal.finish_by.strftime("%Y-%m-%dT%H:%M") %>
    </div>
    <div>
      <%= submit_tag "Set Goal!" %>
    </div>
    <% end %>
  </div>
</div>
